PORT=3001
DATABASE_URL="postgresql://root:rootpassword@localhost:5432/gateway_db?schema=public"
JWT_SECRET="super_senha_secreta_para_desenvolvimento"
REDIS_HOST="localhost"
REDIS_PORT=6379
VERSION_API="v1"
ORDERS_SERVICE="http://orders-service:3002"